.yellow {
    background-color: #ecc75b;
    color: black;
    border: none;
    font-size: 17px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    min-width: 95px;
    box-shadow: 0px 4px 5px rgba(196, 196, 196, 0.4);
    cursor: pointer;
}
.gray{
    text-align: center;
    font-size: 16px;
    background-color: #dfe9f3;
    border-radius: 10px 0px;
    border: none;
    padding: 10px;
    min-width: 160px;
    cursor: pointer;
    margin: 20px 0 0 0;
}