.fullScreen {
    background: url('../../assets//back1.png');
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
}
.backYelow {
    background: rgba(236, 210, 118, 0.8);
border-radius: 15px;
padding: 30px;
position: absolute;
top: auto;
bottom: auto;
right: 9%;
width: 37%;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
padding-bottom: 25px;
box-sizing: border-box;
}