.imageBack{
    position: absolute;
    height: 100%;
    left: 0;
}
.rightYellow {
    position: absolute;
    background: red;
    left: 0;
    width: 300px;
    height: 417px;
    width: 892px;
    height: 421px;
    background: #F5D36F;
    border: 1px solid #F4BB13;
    box-sizing: border-box;
    top: 154px;
}
.rightYellow img {
    position: absolute;
    left: 0;
    top: 11%;
}
.leftBlue{
    position: absolute;
    width: 51%;
    height: 292px;
    right: 0;
    top: 267px;
    background: rgba(208, 227, 245, 0.5);
    border: 1px solid #99C4EF;
    box-sizing: border-box;
    z-index: -1;
}
.slidercontainer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 13%;
}