.container {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25px;
    box-sizing: border-box;
    width: 659px;
    margin: 63px 0;
}
.poemContainer {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.title {
    font-size: 18px;
    font-weight: 200;
}

.sher , .poemContainer>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
}

.couplet {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.verse {
    width: 50%;
    font-size: 15px;
}
.imgInfo{
    position: absolute;
    right: 78px;
    top: 10px;
}